body {
	height:100vh;
	width:100vw;
	margin:0px;
}

#title {
	color: #FF4747;
	margin:auto;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 3vh;
}

#page-container {
	height:100vh;
	width:100vw;
    background: url("background.jpg");
    background-size: cover;
}

#recipe-page-container {
	height:100vh;
	width:60vw;
	background:#d3d3d3;
	margin:0px auto;
/*	background: #FF4747;
*/}

.button {
	width: 50px;
	height: 32px;
	cursor: pointer;
}

.standardButton {
	cursor: pointer;
	width: 150px;
	height:50px;
	background:#FF4747;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	float:left;
	margin-right:50px;
	text-align: center;
	font-size:20px;
	line-height: 50px;
	margin-top:20px;
}

#Add {
	background: url("plus-symbol.png") no-repeat center;
	background-size:contain;
	float:left;
}

#Search {
	background: url("magnifying-glass.png") no-repeat center;
	background-size:contain;
	float:left;
}

#Settings {
	background: url("settings.png") no-repeat center;
	background-size:contain;
	float:left;
}

.left {
	margin:auto auto auto 0;
}

.center {
	margin:auto;
}

.right {
	margin:auto 0 auto auto;
}

.font {
	font-family: 'Lato', sans-serif;
	color: #FF4747;
}

#table {
	margin:0px auto;
	opacity:.90;
	margin-top:10vh;
}

tbody {
	overflow: scroll;
	height:60vh;
	display:block;
}

#button-container {
	margin:0px auto;
	width:150px;
	height:32px;
}

.small-table {
	overflow: scroll;
	height:200px;
	display: block;
}

td {
	width:100%;
}