<html>
	<head>
		<title>Ingredient Page</title>
		<link rel="stylesheet" type="text/css" href="../static/websiteDesign.css">
		<script src="../static/jquery-1.8.3.min.js"></script>
		<script src="../static/website.js"></script>
		<script src="../static/display.js"></script>
	</head>
	<body id="display-page-container">
		<div class="back"></div>
		<div id="mother" class="container">
			<div id="data" style="display:none"></div>
			<h1 id="recName" class="font centerDiv"></h1>
		</div>
	</body>
</html>