<html>
	<head>
		<title>Ingredient Page</title>
		<link rel="stylesheet" type="text/css" href="../static/websiteDesign.css">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:100'>
		<script src="../static/jquery-1.8.3.min.js"></script>
		<script src="../static/recipe.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="page-container">
			<h1 id="title" class="font">Recipes</h1>
			<div id="button-container">
				<div id="Home" class="button left"></div>
				<div id="Search" class="button center"></div>
				<div id="Back" class="button right"></div>
			</div>
			<table id="table" BORDER="1" WIDTH="80%" CELLPADDING="4" CELLSPACING="3" bgcolor="#ffffff">
				<thead>
					<tr>
						<th class="font">Information</th>
					</tr>
				</thead>
				<tbody class="information"></tbody>
				<thead>
					<tr>
						<th class="font">Ingredients</th>
					</tr>
				</thead>
				<tbody class="ingredients"></tbody>
				<thead>
					<tr>
						<th class="font">Directions</th>
					</tr>
				</thead>
				<tbody class="directions"></tbody>
			</table>
		</div>	
	</body>
</html>