<!DOCTYPE html>
<html>
<head>
	<title>Recipe App</title>
	<link rel="stylesheet" type="text/css" href="../static/websiteDesign.css">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:100'>
</head>
<body>
	<div id="page-container">
		<h1 id="title" class="font">Welcome to Recipe Assistant!</h1>
		<div id="Add" class="button left"></div>
		<div id="Search" class="button center"></div>
		<div id="Settings" class="button right"></div>
		<TABLE id="table" BORDER="1" WIDTH="80%" CELLPADDING="4" CELLSPACING="3" bgcolor="#ffffff">
			<TR class="font"><TH><BR>List of Recipes</TH></TR>
		</TABLE>
	</div>	
</body>
</html>