<html>
	<head>
		<title>Recipe Page</title>
		<link rel="stylesheet" type="text/css" href="../static/websiteDesign.css">
		<script src="../static/jquery-1.8.3.min.js"></script>
		<script src="../static/AddRecipe.js"></script>
	</head>
	<body>
		<div id=recipe-page-container>
			<h1 id="header" class="font centerDiv">Add A New Recipe!</h1>
			<div id="name" class="font centerDiv">Title: <input id="newTitle" type:"text" name="RecipeName"></div>
			<div id="ingredients" class="font centerDiv">Ingredients: <input id="newIngredients" type:"text" name="Ingredients"></div>
			<div id="steps" class="font centerDiv">Steps: <input id="newSteps" type:"text" name="PreparationSteps"></div>
			<div id="image" class="font centerDiv">Image URL: <input id="newImage" type:"text" name="RecipeImg"></div>
			<div id="add-cancel-container">
				<div id="AddRecipe" class="standardButton">Add Recipe</div>
				<div id="Cancel" class="standardButton">Cancel</div>
			</div>
		</div>
	</body>
</html>