<html>
	<head>
		<title>Recipe Page</title>
		<link rel="stylesheet" type="text/css" href="../static/websiteDesign.css">
		<script src="../static/jquery-1.8.3.min.js"></script>
		<script src="../static/AddRecipe.js"></script>
	</head>
	<body id="add-page-container">
		<div id=recipe-page-container>
			<h1 id="header" class="font centerDiv">Add A New Recipe!</h1>
			<div id="name" class="font centerDiv">Title: <input id="newTitle" type:"text" name="RecipeName"></div>
			<div id="ingredients" class="font centerDiv">Ingredients:</div>
			<table class=centerize>
				<tbody class="small-table">
					<tr><td><input id="ing1" type="text"/></td></tr>
					<tr><td><input id="ing2" type="text"/></td></tr>
					<tr><td><input id="ing3" type="text"/></td></tr>
					<tr><td><input id="ing4" type="text"/></td></tr>
					<tr><td><input id="ing5" type="text"/></td></tr>
					<tr><td><input id="ing6" type="text"/></td></tr>
					<tr><td><input id="ing7" type="text"/></td></tr>
					<tr><td><input id="ing8" type="text"/></td></tr>
					<tr><td><input id="ing9" type="text"/></td></tr>
					<tr><td><input id="ing10" type="text"/></td></tr>
					<tr><td><input id="ing11" type="text"/></td></tr>
					<tr><td><input id="ing12" type="text"/></td></tr>
					<tr><td><input id="ing13" type="text"/></td></tr>
					<tr><td><input id="ing14" type="text"/></td></tr>
					<tr><td><input id="ing15" type="text"/></td></tr>
					<tr><td><input id="ing16" type="text"/></td></tr>
					<tr><td><input id="ing17" type="text"/></td></tr>
					<tr><td><input id="ing18" type="text"/></td></tr>
				</tbody>
			</table>
			<div id="steps" class="font centerDiv">Steps:</div>
			<table class=centerize>
				<tbody class="small-table">
					<tr><td><input id="dir1" type="text"/></td></tr>
					<tr><td><input id="dir2" type="text"/></td></tr>
					<tr><td><input id="dir3" type="text"/></td></tr>
					<tr><td><input id="dir4" type="text"/></td></tr>
					<tr><td><input id="dir5" type="text"/></td></tr>
					<tr><td><input id="dir6" type="text"/></td></tr>
					<tr><td><input id="dir7" type="text"/></td></tr>
					<tr><td><input id="dir8" type="text"/></td></tr>
					<tr><td><input id="dir9" type="text"/></td></tr>
					<tr><td><input id="dir10" type="text"/></td></tr>
					<tr><td><input id="dir11" type="text"/></td></tr>
					<tr><td><input id="dir12" type="text"/></td></tr>
					<tr><td><input id="dir13" type="text"/></td></tr>
					<tr><td><input id="dir14" type="text"/></td></tr>
					<tr><td><input id="dir15" type="text"/></td></tr>
					<tr><td><input id="dir16" type="text"/></td></tr>
					<tr><td><input id="dir17" type="text"/></td></tr>
					<tr><td><input id="dir18" type="text"/></td></tr>
				</tbody>
			</table>
			<div id="image" class="font centerDiv">Image URL: <input id="newImage" type:"text" name="RecipeImg"></div>
			<div id="add-cancel-container">
				<div id="AddRecipe" class="standardButton">Add Recipe</div>
				<div id="Cancel" class="standardButton">Cancel</div>
			</div>
		</div>
	</body>
</html>